name: needs port upstream
on:
  repository_dispatch:
    types: [port-upstream]
permissions:
  issues: write
jobs:
  create-issue:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: create issue
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            github.rest.issues.create({
              owner: 'nuxt',
              repo: 'bridge',
              title: 'Need to port from upstream',
              labels: ['upstream'],
              body: `Upstream has been changed.
              Please check the changes and port them.

              ## Pull Request
              - ${{github.event.client_payload.url}}`,
            })
