name: needs port upstream
on:
  repository_dispatch:
    types: [port-upstream]
permissions:
  issues: write
jobs:
  create-issue:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: create issue
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
        with:
          script: |
            github.rest.issues.create({
              owner: 'nuxt',
              repo: 'bridge',
              title: 'Need to port from upstream',
              labels: ['upstream'],
              body: `Upstream has been changed.
              Please check the changes and port them.

              ## Pull Request
              - ${{github.event.client_payload.url}}`,
            })
